*.db
queries.py
config.ipynb
/venv
/.vscode
/dist
/build
/Installers
/__pycache__
/UI\AddWindowUi\__pycache__
/PytrackUtils\__pycache__
/PytrackUtils\Helpers\__pycache__
/PytrackUtils\WindowUtils\__pycache__